{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>register</title>
</head>
<body>
<div class="container">
<h1 align="center">Register</h1>
<form method="POST">
    {% csrf_token%}
    <input type="text" name="username" class="username" id="username" placeholder="Enter username" required/><br />
    <input type="text" name="email" class="email" id="email" placeholder="Enter email" required/><br />
    <input type="password" name="pass1" class="pass1" id="pass1" placeholder="Enter password" required/><br />
    <input type="password" name="pass2" class="pass2" id="pass2" placeholder="Confirm password" required/><br />
    <button type="submit" class="btn">Save</button>
    <p class="text-center">If you already have an account, then click</p>
    <button type="submit" class="btn"><a href="{% url 'login' %}">Login</a></button>

</form>
</div>
</body>
</html>