{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Task_Detail</title>
</head>
<body>
    <div class="container">
        <h1 align="center">Details of the task</h1>
        <button type="submit" class="btn"><a href="{% url 'tasks' %}">Go back</a></button>
        <h2>Task:{{tasks.title}}</h2>
        <h2>Details:{{tasks.description}}</h2>
        <h2>Is the task completed? {{tasks.completed}}</h2>
    </div>
</body>
</html>